<a href="https://colab.research.google.com/github/YAMINI-AKULA/hello-world/blob/master/list_tuple_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
marks=[1,2,3,4,5,6,7,8,9,10]
l1=['shoeb',4.0,3,[1,2]]
l1[0]
type(l1[2])
print(l1[-1])
len(l1)
marks[0:6:2]
marks.append(11)
marks
marks.append([12,13])
marks.extend([15,16])
marks.remove(1)
marks.remove(marks[2])
marks.pop()
for marks in marks:
  print(pow(marks,2))
#identitiy operator
#is #isnot-to check value is stored in same locatn or not
a=[1,2,3]
b=a
c=[1,2,3]
a is c
a is b

[1, 2]
4
9
25
36
49
64
81
100
121

TypeError: ignored

In [31]:

num=[]
for i in range(1,11):
  num.append(i)
  print(num)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
odd=[]
for i in range(1,10,2):
  odd.append(i)
  print(odd)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 7]
[1, 3, 5, 7, 9]

In [34]:
a=[1,2,3,4,5]
for i in a:
  cube=pow(i,3)
  print(cube)

1
8
27
64
125

In [36]:
cube=[]
for i in range(1,6):
  cube.append(i*i*i)
  print(cube)

[1]
[1, 8]
[1, 8, 27]
[1, 8, 27, 64]
[1, 8, 27, 64, 125]

In [44]:
list1 = [i for i in range(1,11)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
odd =[i for i in range(1,11) if i%2!=0]
odd

[1, 3, 5, 7, 9]

In [46]:
list1=[i*i if i%2==0 else i*i*i for i in range(1,11)]
list1

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [47]:
list1=[f"even={i}"if i%2==0 else f"odd={i}" for i in range(1,11)]
list1

['odd=1',
 'even=2',
 'odd=3',
 'even=4',
 'odd=5',
 'even=6',
 'odd=7',
 'even=8',
 'odd=9',
 'even=10']

In [51]:
#tuples
t1=(1,2,3,4,5)
type(t1)
t3=tuple(marks)
t3

(12, 13)

In [52]:
list2=list(t1)
list2#we can convert tupe to list and vic versa

[1, 2, 3, 4, 5]

#dictionary
marks = {"history":45,"geography":50,"hindi":70}
print(marks)
print(marks["history"])

In [55]:
set1={1,2,2,2,3,33}
set1

{1, 2, 3, 33}

In [57]:
a={1,2,3,4,5}
b={3,5,6,7,8}
union =a|b
intersection = a&b
print(union)
print(intersection)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 5}